@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #E1504B #F3EACD;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #F3EACD;
  border-radius: 10px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #E1504B;
  border-radius: 10px;
  border: 2px solid #F3EACD;
  transition: background 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: #72906E;
}

*::-webkit-scrollbar-thumb:active {
  background: #373529;
}

*::-webkit-scrollbar-corner {
  background: #F3EACD;
}
